In [2]:
import pandas as pd

#read the file

In [ ]:
df= pd.read_csv("/content/Salaries.csv")

#list the first 5 records

In [ ]:
df.head

## getting first 3 rows

In [8]:
df_first3=df.head(3)

# how to excute the total number of element in dataset

In [9]:
df.size

1932502

#how to excute the cols name

In [10]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

#how to excute list of rows and col name

In [11]:
df.axes

[RangeIndex(start=0, stop=148654, step=1),
 Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
        'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
        'Status'],
       dtype='object')]